body{
    margin:auto;
    max-width: 70%;
}

h1, h2, h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 1.5em;
}

table, th, td{
    border: 1px solid black;
}

figcaption{
    font-style: italic;
}

figure{
    float: right;
}