body {
	margin: 0px;
}
h1 {
	font-size: 3vw;
	color: #007765;
	font-family: Roboto;
	text-align: center;
	margin: -5px 0px 5px 0px;
}
a {
	text-decoration: none;
}
a:visited {
	color: white;
}
a:link {
  color: white;
}
#rectangle {
    width: 100%;
    height: 85px;
    background: #007765;
	position: fixed;
	margin: -85px 0px 0px 0px;
}
ul {
	float: right;
	display: inline;
	color: white;
	list-style: none;
	margin: 25px 150px 0px 0px;
}
li {
	display: inline-block;
	font-size: 2vw;
}
.HEAD {
	background-image: url(https://i.ibb.co/7YWffnt/HEAD.jpg);
	background-repeat: no repart;
	background-size: 100%;
	line-height: 30vw;
	height: 30vw;
	font-family: Robo;
	text-align: center;
	font-size: 4vw;
	color: white;
	margin:85px 0px 0px 0px;
}
.Text1 {
	max-height: 520px;
	max-width: 100%;
	background-color: #EEEEEE;
	padding: 0px 0px 20px 0px;	
}
.Text1 article p {
	margin: auto;
	font-family: Roboto;
	font-size: 2vw;
	text-align: left;
	vertical-align: middle;
	width: 65%;
}
.Lines {
	background: url(https://i.ibb.co/gr99rY4/Lines.png);
	max-width: 100%;
	background-repeat: no repart;
	height: 25vw;
	text-align: center;
	color: white;
	font-family: Roboto;
	font-size: 3vw;
}
.Lines article {
	width: 60%;
	margin: auto;
}
.PPC article {
	font-family: Robo;
	max-width: 64.1%;
	display: block;
	margin:auto;
}
.PPC > p {
	margin: -5px 0px 0px 0px;
}
.Team {
	background-color: #EEEEEE;
	padding: 0px 0px 2vw 0px;
}
.Team table {
	margin: auto;
}
.Team img{
	width:12vw;
	margin: 1.5vw 1.5vw 0.5vw 1.5vw;
}
.Team .p1 {
	margin: 0.1vw 0px;
    font-size: 1.5vw;
    color: #007765;
	text-align: center;
}
.Team .p2 {
    font-style: oblique;
    margin: 0.1vw 0px;
    font-family: Roboto;
	text-align: center;
	font-size: 1.2vw;
}
.Bottom {
	background-color: #333333;
	height: 10vw;
	text-align: center;
	color: white;
	font-size: 1.3vw;
}
.Bottom article {
	width: 35vw;
	margin: auto;
}